/* CMA BLUE #57c1e8 */
/* CMA Secondary Red #eab8c8ff */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

h1 {
  /* should be in all caps */
font-family: 'Montserrat', sans-serif;
font-weight: 700;
color: #57c1e8;
font-size: 1.5rem;
}

h2 {
  /* should be in all caps */
font-family: 'Montserrat', sans-serif;
font-weight: 700;
color: #57c1e8;
font-size: 1rem;
}

h3 {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 1rem;
color: white;
}

p {
font-family: 'Montserrat', sans-serif;  
}

body {
  background-color: black;
}

svg {
  fill: white;
}

.button-blue {
  border: 3px solid #57c1e8;
  border-radius: 7px;
  background-color: black;
}

.button-white {
  border: 3px solid white;
  border-radius: 7px;
  background-color: black;
}

.button-red {
  border: 3px solid #eab8c8ff;
  border-radius: 7px;
  background-color: black;
}

.text-red {
  color: #eab8c8ff;
}
/* Game Styling */

.vh100 {
  height: 100vh;
}

.localArt {
  width: 300px;
  height: auto;
}

/* Hide Local Artwork While Drawing */
.hide {
  display: none;
}


/* Canvas Styling */
#artFrame {
  display: flex;
  flex-flow: row wrap;
}

canvas {
  display: inline;
}